body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') crab-synth
      ul.nav.navbar-nav
        li
            a(href="/") playlist
  .container
    main(role="page-container")
